@model IEnumerable<RenalTracker.Models.BrandedFood>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubbrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GtinUpc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotASignificantSourceOf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServingSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServingSizeUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseholdServingFulltext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandedFoodCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscontinuedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparationStateCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeChannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubbrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GtinUpc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotASignificantSourceOf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServingSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServingSizeUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseholdServingFulltext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandedFoodCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscontinuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparationStateCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeChannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FdcId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FdcId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FdcId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
