@model RenalTracker.ViewModel.FoodViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if(Model == null)
{
    <div class="row">
    <form onsubmit="onSubmit">
        <label class="col col-md-1" for="q">Search Food: </label>
        <input name="q" class="col col-md 5" id="q" type="search" />
        <input type="submit" class="col-md-2">
    </form>
    </div>
}else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandedFood.First().BrandOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food.First().Description)
            </th>
            <th></th>
        </tr>
    </thead>

    @for(int i = 0; i < Model.Food.Count(); i++)
    {
        <tr>
        <td>@Html.DisplayFor(item => Model.BrandedFood.ElementAt(i).BrandOwner)</td>
        <td>@Html.DisplayFor(item => Model.Food.ElementAt(i).Description)</td>
        <td><a asp-action="Details" asp-route-id="@Model.Food.ElementAt(i).FdcId">Details</a>
            <a onclick="add(@Model.Food.ElementAt(i).FdcId)">Add</a>
        </td>
        </tr>
    }

</table>
<script>
    function add(id){
        sessionStorage.setItem("FdcId", id.toString());
        location.replace("/meal");
    }
</script>
}
